nav {
  div {
    a {
      img {
        width: 100px;
        height: 50px;
      }
    }
    #navbarNav {
      justify-content: space-between;
      a {
        color: white;
      }
      a:hover {
        animation: heartBeat;
        animation-duration: 2s;
        color: map-get($map: $color, $key: hover);
      }
    }
  }
}
